# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://cmdaduhxxqeswuwckhcu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtZGFkdWh4eHFlc3d1d2NraGN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNDEzMjcsImV4cCI6MjA5MDcxNzMyN30.EMgatRtspszZVFp6rpIl53hF5E3uLKzlwZUsSTLEcq8
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3YekYJIVBHdAsZR2pOkBYg_PoGknSsc

# EmailJS Configuration
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_8egukfj
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_fe6g4f5
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=wgIYfZ4QffvqaebtB
